<%- include("header") -%> 

<h1>this is the about page</h1>
<p>ewncbhvnejcjhvehbvewhebjvrewvhbewvwevhbewvuwebvulewmged;sankfwel w3d uewnwe fdwe weed hqwfnwedqw henfwqdnwcv wv wiqn hqdniqwf hq  djqw fwq dNWE SJADS LKJV J,SDCS, DVSC:ALSD SAC</p>

<%- include("footer") -%>